.heading {
  color: #3d4281;
  font-size: 35px;
  text-align: center;
  font-family: monospace;
}

#title {
  font-size: 10px;
}

body {
  background-color: #e1edf9;
}

p {
  font-family: sans-serif;
  color: darkblue;
}
