.heading {
  color: #3d4281;
  text-align: center;
  font-family: serif;
}

body {
  background-color: #e1edf9;
}

p {
  font-family: sans-serif;
  color: darkblue;
  text-align: justify;
}

p.first-p {
  border-top-style: dotted;
  padding-top: 5pxs;
  border-width: 2px;
  border-color: #3d4281;
}

p.first-transition {
  border-bottom-style: dotted;
  padding-bottom: 5px;
  border-width: 2px;
  border-color: #3d4281;
}
