.heading {
  color: #3d4281;
  text-align: center;
  font-family: serif;
  margin: 35px 0px 10px;
}

body {
  background-color: #e1edf9;
  background-image: url("img/snowflake.png");
  background-position: top right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p {
  font-family: sans-serif;
  color: darkblue;
  text-align: justify;
  margin: 20px 15% 0px;
}

p.first-p {
  border-top-style: dotted;
  padding-top: 25px;
  margin-top: 25px;
  border-width: 2px;
  border-color: #3d4281;
}

p.first-transition {
  border-bottom-style: dotted;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-width: 2px;
  border-color: #3d4281;
}

p.end-p {
  border-bottom-style: groove;
  padding-bottom: 40px;
  margin-bottom: 25px;
  border-width: 2px;
  border-color: #3d4281;
}
